<style>.fa-douban:before { content: "豆"; }</style>

<!-- Check if any share-links are active -->
{% assign any-share-links = false %}
{% for links in site.share-links-active %}
  {% if links[1] == true %}
    {% assign any-share-links = true %}
  {% endif %}
{% endfor %}

{% if any-share-links %}
<section id = "social-share-section">
  <span class="sr-only">Share: </span>

  {% if site.share-links-active.bluesky %}
    <a href="https://bsky.app/intent/compose?text={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-bluesky" title="Share on Bluesky">
      <span class="fa fa-brands fa-bluesky" aria-hidden="true"></span>
      <span class="sr-only">Bluesky</span>
    </a>
  {% endif %}

  {% if site.share-links-active.hackernews %}
    <a href="https://news.ycombinator.com/submitlink?u={{ page.url | absolute_url | url_encode }}&t={{ page.title | url_encode }}"
      class="btn btn-social-icon btn-hackernews" title="Share on Hacker News">
      <span class="fa fa-fw fa-hacker-news" aria-hidden="true"></span>
      <span class="sr-only">Hacker News"</span>
    </a>
  {% endif %}

  {% if site.share-links-active.reddit %}
    <a href="https://www.reddit.com/submit?url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-reddit" title="Share on Reddit">
      <span class="fa fa-fw fa-reddit" aria-hidden="true"></span>
      <span class="sr-only">Reddit</span>
    </a>
  {% endif %}

  {% if site.share-links-active.telegram %}
      <a href="https://telegram.me/share/url?url={{ page.url | absolute_url | url_encode }}&text={{ page.title | url_encode }}"
      class="btn btn-social-icon btn-telegram" title="Share on Telegram">
      <span class="fa fa-fw fa-telegram" aria-hidden="true"></span>
      <span class="sr-only">Telegram</span>
    </a>
  {% endif %}

  {% if site.share-links-active.whatsapp %}
    <a href="https://wa.me/?text={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-whatsapp" title="Share on WhatsApp">
      <span class="fa fa-fw fa-whatsapp" aria-hidden="true"></span>
      <span class="sr-only">WhatsApp</span>
    </a>
  {% endif %}

  {% if site.share-links-active.linkedin %}
    <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-linkedin" title="Share on LinkedIn">
      <span class="fa fa-fw fa-linkedin" aria-hidden="true"></span>
      <span class="sr-only">LinkedIn</span>
    </a>
  {% endif %}

  {% if site.share-links-active.vk %}
    <a href="https://vk.com/share.php?url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-vk" title="Share on VK">
      <span class="fa fa-fw fa-vk" aria-hidden="true"></span>
      <span class="sr-only">VK</span>
    </a>
  {% endif %}

  {% if site.share-links-active.diaspora %}
    <a href="https://share.diasporafoundation.org/?title={{ page.title | url_encode }}&url={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-diaspora" title="Share on Diaspora">
      <span class="fa fa-brands fa-diaspora" aria-hidden="true"></span>
      <span class="sr-only">Diaspora</span>
    </a>
  {% endif %}

  {% if site.share-links-active.weibo %}
    <a href="http://service.weibo.com/share/share.php?url={{ page.url | absolute_url | url_encode }}&appkey=&title={{ page.title | url_encode }}&pic=&ralateUid="
      class="btn btn-social-icon btn-weibo" title="Share on Weibo">
      <span class="fa fa-fw fa-weibo" aria-hidden="true"></span>
      <span class="sr-only">Weibo</span>
    </a>
  {% endif %}


  {% if site.share-links-active.okru %}
    <a href="https://connect.ok.ru/dk?st.cmd=WidgetSharePreview&st.shareUrl={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-okru" title="Share on OKru">
      <span class="fa fa-fw fa-odnoklassniki" aria-hidden="true"></span>
      <span class="sr-only">OKru</span>
    </a>
  {% endif %}

  {% if site.share-links-active.douban %}
    <a href="http://www.douban.com/recommend/?name={{ page.title | url_encode }}&text={{ page.title | url_encode }}&comment={{ page.url | absolute_url | url_encode }}&href={{ page.url | absolute_url | url_encode }}"
      class="btn btn-social-icon btn-douban" title="Share on Douban">
      <span class="fa fa-fw fa-douban" aria-hidden="true"></span>
      <span class="sr-only">Douban</span>
    </a>
  {% endif %}

  {% if site.share-links-active.renren %}
    <a href="http://widget.renren.com/dialog/share?resourceUrl={{ page.url | absolute_url | url_encode }}&srcUrl={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}&description={{ page.title | url_encode }}"
      class="btn btn-social-icon btn-renren" title="Share on RenRen">
      <span class="fa fa-fw fa-renren" aria-hidden="true"></span>
      <span class="sr-only">RenRen</span>
    </a>
  {% endif %}

</section>

{% endif %}
