name: Build

on:
  push:
    branches-ignore:
    - master

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      DOCKER_IMAGE: martinopilia/m-pilia.github.io:latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
      with:
        ref: source
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Check for Docker image changes
      id: docker_image_changed
      uses: dorny/paths-filter@v3
      with:
        filters: |
          input_files:
            - 'Dockerfile'
            - 'Gemfile'
            - 'Gemfile.lock'
    - name: Pull Docker image
      if: steps.docker_image_changed.outputs.input_files != 'true'
      shell: bash
      run: |
        docker pull "${DOCKER_IMAGE}"
    - name: Build Docker image
      if: steps.docker_image_changed.outputs.input_files == 'true'
      shell: bash
      run: |
        docker build -t "${DOCKER_IMAGE}" .
    - name: Build Jekyll site
      run: |
        set -xo pipefail
        rm -rf _site/*
        docker run --rm -v "$PWD:/srv/jekyll" --user $(id -u):$(id -g) -i "${DOCKER_IMAGE}" jekyll build
        cp CNAME _site/CNAME
    - name: Deploy
      if: github.ref == 'refs/heads/source'
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      run: |
        set -xo pipefail
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git checkout master
        ls -Q | grep -v _site | xargs rm -rf
        mv _site/* .
        rm -rf _site
        rm -rf .jekyll-cache
        [[ -n "$(git status --porcelain)" ]] || exit 0
        git add .
        git commit -m "Build $(git rev-parse source | grep -o '^.\{10\}')"
        git push "https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git" master
    - name: Push Docker image
      if: github.ref == 'refs/heads/source' && steps.docker_image_changed.outputs.input_files == 'true'
      run: |
        docker image push "docker.io/${DOCKER_IMAGE}"
